/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
}

/*
  .footer
*/
.footer {
  font-size: smaller;
}
.map {
  width:100%;height:350px;position:relative;overflow:hidden;
}

/*
  .privacy-policy
*/
.privacy-policy {
  font-size: smaller;
  text-align: left;
  padding: 10px;
  max-width: 660px;
  max-height: 100px;
  overflow: auto;
  border-color: #1861ac;
  border:1px;
}

/*
  .logo
*/
.logo {
  width: 60px;
  height: 60px;
}
.logo2 {
  width: 200px;
  height: 200px;
}
.logo-menu {
  width: 20px;
  height: 20px;
}
.sns-icon{
  width: 40px;
  height: 40px;
}
/*
  .visibility
*/
.visibility-on{
  visibility: visible;
}
.visibility-off{
  visibility: hidden;
}